.gallery-layout{
    margin: auto;
}
.wave-gallery {
    margin: auto;
    display: block;
    padding-top: 70px;
}
.gallery-heading {
    text-align: center;
    color: #2c2e37;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 58px;
}

.gallery-containers {
    display: flex;
    flex-direction: row;     
    max-width: 100%;
    margin: auto;
    flex-wrap: wrap;
}
.gallery-containers :hover {
    opacity: 0.3;
    transition: .8s opasity;
}

.gallery-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    margin: auto;
    
}
.gallery-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 365px;
    margin: auto;
}
.gallery-container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 460px;
    margin: auto;
}
.photo-gallery {
    margin-top: 30px;
}


.gallery-containers :hover .photo1-gallery:hover{
    opacity: 1;
    transition: .8s opacity;
}

.partners {
    background-color: #f8f9fa;
    height: 185px;
    width: 100%;
    display: flex;    
    margin-top: 83px;
}
.partners-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
 
@media (max-width: 1128px){
    .gallery-container3{
        flex-direction: row;
        justify-content: center;
        width: 100%;
        border: 10px solid white;
    }  
    .gallery-container3 img{
        margin: auto;
        max-width: 100%;
    }
}

 @media (max-width: 640px){
       .gallery-container3{
        flex-direction: column;
    } 
} 